<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

{% if message %}
Add tag: {{message[1]}} to this user? <a href="/crosstag/v1.0/link_user_to_last_tag/{{message[0]}}">YES</a>
{% endif %}

<h1>All users</h1>

    <select onChange="window.location.href=this.value">
        <option>Choose Filter</option>
    <option value="/all_users/all">All</option>
    <option value="/all_users/active">Active Membership</option>
    <option value="/all_users/inactive">Inactive Membership</option>
    <option value="/all_users/free">Free Membership</option>
    <option value="/all_users/frozen">Frozen Membership</option>
    </select>

{% if count %}
<p>Listed {{ count }} users.</p>
{% endif %}




{% if hits %}

	<table class="table table-hover">
	<tbody>
		<thead>
			<tr>
				<th>Name</th> <th>Member Status</th>  <th>E-mail</th> <th>Expire Date</th> <th>Linked Tag</th> <th></th>
			</tr>
		</thead>
				{% for hit in hits %}
				<tr>
					<td>{{hit.name}}</td> <td>{{hit.status}}</td> <td>{{hit.email}}</td> <td>{{hit.expiry_date}}</td>
                    <td>
                        {% if hit.tag_id == "None" or hit.tag_id == ""  or not hit.tag_id %}
                            No
                        {% else %}
                            Yes
                        {% endif %}
                    </td>
                    <td><a href='/user_page/{{hit.index}}'>Info</a> </td>
				</tr>
				{% endfor %}
	</tbody>
	</table>
{% endif %}

{% endblock %}