<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<br>
<br>
<h3>Do you really want to delete this debt?</h3>

<table class="table table-hover">
    <tbody>
         <thead>
                <tr>
                    <th>Member</th><th>Product</th><th>Amount</th><th>Date</th>
                </tr>
            </thead>

            <tr>
                <td><a href='/user_page/{{hits2.index}}'>{{ hits2.name }}</a><td>{{ hits.product }}</td></td><td>{{ hits.amount }} SEK</td><td>{{ hits.create_date }}</td>
                <td>
                    <form action="debt_delete/{{ hits.id }}" method="post">

                    <input type="submit"  value="Confirm Delete" >
                    </form>
                </td>
            </tr>
    </tbody>
</table>
{% endblock %}

