<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<h2>Debts</h2>


{% if hits %}
	<table class="table table-hover">
        <tbody>
            <thead>
                <tr>
                    <th>Amount</th><th>Member</th>
                </tr>
            </thead>
            {% for hit in hits %}
                <tr>
                    <td>{{ hit['debt'].amount }} </td><td>{{ hit['user'].name }}</td>
                    <td>
                        <form id="tjuue" action="debt_delete_confirm/{{ hit['debt'].id }}" method="get" >
                        <input type="submit"  value="Delete Debt" onclick="">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}
