<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<h2>Debts</h2>


{% if hits %}
	<table class="table table-hover">
        <tbody>
            <thead>
                <tr>
                    <th>Member</th><th>Product</th><th>Amount</th><th>Date</th>
                </tr>
            </thead>
            {% for hit in hits %}
                <tr>
                    <td><a href='/user_page/{{hit['user'].index}}'>{{ hit['user'].name }}</a></td><td>{{ hit['debt'].product }} </td><td>{{ hit['debt'].amount }} SEK</td><td>{{ hit['debt'].create_date }} </td>
                    <td>
                        <form id="tjuue" action="debt_delete_confirm/{{ hit['debt'].id }}" method="get" >
                        <input type="submit"  value="Delete Debt" onclick="">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}