<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

{% if message %}
Add tag: {{message[1]}} to this user? <a href="/crosstag/v1.0/link_user_to_last_tag/{{message[0]}}">YES</a>
{% endif %}

{% if error %}

{% if error["name"] %}
    <p style="color:red;">Not a valid Name.</p>
{% endif %}
{% if error["email"] %}
    <p style="color:red;">You need to enter a valid Email-address (test@domain.com)</p>
{% endif %}
{% if error["address"] %}
    <p style="color:red;">You need to enter an Address.</p>
{% endif %}
{% if error["city"] %}
    <p style="color:red;">You need to enter a City.</p>
{% endif %}
{% if error["gender"] %}
    <p style="color:red;">Choose a gender.</p>
{% endif %}
{% if error["expiry_date"] %}
    <p style="color:red;">Enter a valid Expiry date ex:[2018-06-25]</p>
{% endif %}
{% if error["status"] %}
    <p style="color:red;">Choose a Membership status</p>
{% endif %}
{% endif %}

{% if data %}
<h1>Edit user</h1>
<form action="" method="post" name="new_user" class="form-horizontal" role="form">
    {{form.hidden_tag()}}
        <p>* Required Fields</p>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Name*</label>
                <div class="col-sm-10">
                    {{form.name(size=80, value=data.name)}}
                </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">E-mail*</label>
                <div class="col-sm-10">
                    {{form.email(size=80, value=data.email)}}
                </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">
                    {{form.phone(size=80, value=data.phone)}}
                </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Address*</label>
                <div class="col-sm-10">
                    {{form.address(size=80, value=data.address)}}
                </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Address 2</label>
                <div class="col-sm-10">
                    {{form.address2(size=80, value=data.address2)}}
                </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">City*</label>
                <div class="col-sm-10">
                    {{form.city(size=80, value=data.city)}}
                </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Zip code</label>
                <div class="col-sm-10">
                    {{form.zip_code(size=80, value=data.zip_code)}}
                </div>
        </div>
        <div class="radio">
          {{form.gender(size=80, value=data.gender)}}
        </div>
         <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Tag</label>
                <div class="col-sm-10">
                    {{form.tag_id(size=80, value=data.tag_id)}}
                </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Expiry date</label>
                <div class="col-sm-10">
                    {% if data.expiry_date == "" or data.expiry_date == "None" %}
                    {{form.expiry_date(size=80, value="")}}
                    {% else %}
                    {{form.expiry_date(size=80, value=data.expiry_date)}}
                    {% endif %}

                </div>
        </div>

        <label for="inputEmail3" class="col-sm-2 control-label">Membership Status*</label>
        <br>
        <br>
          <div class="radio">
          {{form.status(size=80, value=data.gender)}}
        </div>
<br>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Save user" class="btn btn-primary">
        </div>
    </div>
</form>
    <br>
    <form action="/crosstag/v1.0/link_user_to_last_tag/{{data.index}}" method="post" name="Link tag">
        <span><input type="submit" class="btn btn-default" value="Link user to last system tagevent"></span>
    </form>
<br><br>
<form action="/crosstag/v1.0/remove_user/{{data.index}}" method="post" name="remove_user">
<p><input type="submit" class="btn btn-danger" value="Remove user from local database"></p>
</form>

{% else %}
<h1>Edit user</h1>
It looks like you haven't supplied a user id. How can you edit a user without supplying an ID? Maybe try to search for one?
{% endif %}
{% endblock %}