<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<h2>Latecomers</h2>

{% if hits %}
	<table class="table table-hover">
	<tbody>
		<thead>
			<tr>
				<th>Name</th> <th>E-mail</th> <th>Phone</th> <th>Address</th> <th>Last tag-day</th> <th>Days since tagged</th>
			</tr>
		</thead>
				{% for hit in hits %}
				<tr>
					<td>{{hit['user'].name}}</td> <td>{{hit['user'].email}}</td> <td>{{hit['user'].phone}}</td> <td>{{hit['user'].address}}</td> <td>{{ hit['event'] }}</td> <td>{{ hit['days'] }}</td>
                    <td><a href='/user_page/{{hit['user'].index}}'>Info</a> </td>
				</tr>
				{% endfor %}
	</tbody>
	</table>
{% endif %}






{% endblock %}