<!-- extend from base layout -->
{% extends "base.html" %}

{% block scripts %}

{{super()}}
{% endblock %}

{% block content %}
<br>
<h1>Statistics</h1>

<div style="width:100%">
    <h2>Member Statistics</h2>

    <div style="width:33%; float:left">
        <h4>Registered</h4>
        <canvas id="genderChart" width="200" height="200"></canvas>
    </div>
    <div style="width:33%; float:left">
        <h4>Tags/Gender (4 weeks)</h4>
        <canvas id="genderChart1" width="200" height="200"></canvas>
    </div>
    <div style="width:33%; float:left">
        <h4>Age</h4>
        <canvas id="ageChart" width="250" height="215"></canvas>
    </div>


</div>






<div>
    <h2>Tags per Month {{ data[2][12] }} </h2>
    <canvas id="tagChart" width="600" height="400"></canvas>
</div>

<!--JS script for the Charts, data is the information from the server-->
<script>
    var chart = new statistic.Main();
    chart.genderStats({{ data }});
    chart.genderTags({{ data }});
    chart.tagsByMonths({{ data }});
    chart.ageOfMembers({{ data }});
</script>


{% endblock %}



<!--
<script>
// Set up the plot window.
var margin = 80;
var width = 900 - 2 * margin, height = 500 - 2 * margin;


// Parse the date / time
var parseDate = d3.time.format("%Y-%m").parse;

var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);

var y = d3.scale.linear().range([height, 0]);
// Parse the date / time
var parseDate = d3.time.format("%Y-%m-%d").parse;

// Our color bands
var color = d3.scale.ordinal()
    .range(["#308fef", "#5fa9f3", "#1176db"]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
    .tickFormat(d3.time.format("%m-%d"));

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10);


var svg = d3.select("#plot").append("svg")
                .attr("width", width + 2 * margin)
                .attr("height", height + 2 * margin)
                 .append("svg:g")
                .attr("transform", "translate(" + margin + ", " + margin + ")");
    


// Load the data.
var callback = function (data) {
    
    console.log(data);
    
    data.forEach(function(d) {
        console.log(parseDate(d.datestamp));
        d.date = parseDate(d.datestamp);
        d.count = +d.count;
    });

    x.domain(data.map(function(d) { return d.date; }).sort(d3.ascending));
    y.domain([0, d3.max(data, function(d) { return d.count; })]);

    svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .selectAll("text")
      .style("text-anchor", "end")
      .attr("dx", "-.8em")
      .attr("dy", "-.55em")
      .attr("transform", "rotate(-90)" );

    svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);

    console.log(d3.max(data, function(d) { return d.count; }));
    // Insert the data points.
    svg.selectAll("bar").data(data).enter()
      .append("rect")
      .style("fill", "steelblue")
      .attr("x", function(d) { return x(d.date); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.count); })
      .attr("height", function(d) { return height - y(d.count)});
};
d3.json("/getrecentevents", callback);
</script>


-->
