{% extends "base.html" %}

{% block content %}

<h2>{{data.name}}</h2>

    <p>E-mail : {{ data.email }}</p>
    <p>Phone : {{ data.phone }}</p>
    <p>Address : {{ data.address }}</p>
    {% if data.address2 %}
    <p>Address 2 : {{ data.address2 }}</p>
    {% endif %}
    <p>City : {{ data.city }}</p>
    <p>Zip Code : {{ data.zip_code }}</p>
    <p>Tag-ID : {{ data.tag_id }}</p>
    <p>Gender : {{ data.gender }}</p>
    <p>Social Security Number : {{ data.ssn }}</p>
    <p>Expiry date : {{ data.expiry_date }}</p>
    <p>Membership status : {{ data.status }}</p>


    <h3><a href='/edit_user/{{data.index}}'>Edit user</a></h3>

{% if tags %}
    <hr>
<h3>Recent tagevents by {{ data.name }}</h3>
    <table class="table table-hover">
    <tbody>
        <thead>
            <tr>
                <th>Index</th> <th>Timestamp</th><th>Tag-ID</th>
            </tr>
        </thead>
                {% for tag in tags %}
                <tr>
                    <td>{{tag.index}}</td> <td>{{tag.timestamp}}</td> <td>{{tag.tag_id}}</td>
                </tr>
                {% endfor %}
    </tbody>
    </table>
{% endif %}



{% endblock %}